.mainDiv {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 49%;
  justify-content: space-between;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #17191f;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.selecterDiv {
  display: flex;
  gap: 20px;
}

.ButtonDiv,.PrefixButtonDiv {
  display: flex;
  justify-content: space-around;
}
.ResultDiv {
  background-color: #17191f;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gitImport{
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  gap: 5px;
  right: 5px;
  top: 5px;
  z-index: 10;
}

.title{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.mobileButton{
  display: none !important;
}


@media screen and (max-width: 900px) {
  .mainDiv {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }
 
}
@media screen and (max-width: 600px) {
  .mainDiv {
    width: 96%;
  }
}
@media screen and (max-width: 400px) {
  
  .ButtonDiv{
    display: grid;
    grid-template-columns:  auto auto auto;
    row-gap: 10px;
  }
  .PrefixButtonDiv{
    display: grid;
    grid-template-columns:  auto auto;
    row-gap: 10px;
  }
  .mobileButton{
    display: block !important;
  }
  .leftDiv{
    padding: 0%;
    padding-top: 10px;
  }
  .gitImport{
    display: none;
  }
  .title{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }
}