.mainDiv {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 50% 49%;
  justify-content: space-between;
}
.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #17191f;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.selecterDiv {
  display: flex;
  gap: 20px;
}

.ButtonDiv {
  display: flex;
  justify-content: space-around;
}
.ResultDiv {
  background-color: #17191f;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.gitImport {
  display: flex;
  background-color: #805ad5;
  padding: 7px 16px;
  border-radius: 5px;
  align-items: center;
  position: absolute;
  gap: 5px;
  right: 5px;
  top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: 10;
}
.title{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}
