.title{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.fileInput{
    color: #FDAE59;
    padding: 5px 0px 5px 5px;
    background-color: rgb(31, 30, 30);
}
.file_note{
    text-align: center;
    color: rgba(255, 0, 0, 0.427);
}
.QandA_DIv{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(31, 30, 30);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-height: 400px;
    padding: 20px;
}
.questionInput{
    display: flex;
    gap: 10px;
}

#Loader{
    height: 80%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border:3px solid rgba(255, 255, 255, 0.181) ;
    border-top:3px solid white ;
    animation: loader 3s infinite ease;
    -webkit-animation: loader 3s infinite ease;
}
.inputOuterDiv{
    display: flex;
    gap: 10px;
    margin: auto;
    margin-top: 20px;
}
.ResultDiv{
    text-align: center;
    margin-top: 30px;
}

@keyframes loader {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@media screen and (max-width: 1000px) {
    .QandA_DIv{
        width: 98%;
    }
    .title{
        font-size: 25px;
        padding: 0px 20px;
    }
}
@media screen and (max-width: 600px) {
    .inputOuterDiv{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 400px) {
    .QandA_DIv{
        width: 98%;
        padding: 5px;
    }
    .title{
        font-size: 20px;
        padding: 0px 20px;
        font-weight: 600;
    }
    .questionInput{
        display: flex;
        gap: 5px;
    }
}
